// Font Import
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Code+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --pink: #e53f71;
    --white: #89d2d7;
    --code-pro: 'Source Code Pro', monospace;
    --poppins: 'Poppins', sans-serif;
}